@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://felixaugust.com">our other ventures</a>.</p>
</div>

<!--Dashboard-->
<!--Speed / Waste this shift / Downtime -->


<!--Mocking downtime, prod orders-->

<table>
    <!-- #region -->
    <th>Hello</th>
    <tr>test row</tr>
    <td>test d</td>
</table>

<!--Production Digtial Twin-->

<!--Previous Setups-->

<!--Upcoming Setups-->

<!--Ask me anything!-->
